/*Debug aid below - uncomment when don't want red border*/
* {
  border: red 1px solid;
}
.pad-20 {
  padding: 20px;
}

.header {
  background-color: black;
  color: white;
}

.quote {
  font-style: italic;
  font-weight: lighter;
}
